body {
    background-color: rgb(88, 246, 194);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 5px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 450px;
    margin: 10px;
}

.box {
    height: 150px;
    width: 145px;
}

.box:hover {
    background-color: rgb(66, 233, 177);
}

[id='0'] {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

[id='1']{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

[id='2'] {
    border-bottom: 1px solid black;
}

[id='3'] {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

[id='4'] {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

[id='5'] {
    border-bottom: 1px solid black;
}

[id='6'] {
    border-right: 1px solid black;
}

[id='7'] {
    border-right: 1px solid black;
}
