body {
    background-color: rgb(88, 246, 194);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 5px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 450px;
    margin: 10px;
}

.box {
    height: 150px;
    width: 145px;
}

.box:hover {
    background-color: rgb(66, 233, 177);
}

#zero {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#one {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#two {
    border-bottom: 1px solid black;
}

#three {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#four {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#five {
    border-bottom: 1px solid black;
}

#six {
    border-right: 1px solid black;
}

#seven {
    border-right: 1px solid black;
}
